{
  "token": "token goes here",
  "HDevToken": "",
  "HDevTokenAlert": false,
  "fetchSkinPrices": true,
  "fetchSkinRarities": true,
  "useStoreBanner": false,
  "localiseText": true,
  "localiseSkinNames": true,
  "linkItemImage": true,
  "useEmojisFromServer": "",
  "refreshSkins": "10 0 0 * * *",
  "checkGameVersion": "*/15 * * * *",
  "delayBetweenAlerts": 5000,
  "alertsPerPage": 10,
  "useShopCache": true,
  "useShopQueue": true,
  "shopQueue": "*/1 * * * * *",
  "useLoginQueue": false,
  "loginQueue": "*/2 * * * * *",
  "loginRetryTimeout": 600000,
  "maxAccountsPerUser": 5,
  "storePasswords": false,
  "trackStoreStats": true,
  "statsExpirationDays": 14,
  "statsPerPage": 8,
  "ownerId": "",
  "ownerName": "",
  "status": "Up and running!",
  "logToChannel": "",
  "logFrequency": "*/10 * * * * *",
  "logToFile": true,
  "logDir": "data/logs",
  "databaseType": "json",
  "sqlitePath": "data/database.sqlite"
}
